h1{
    color: #ffffff;
}
  .row {
    max-width: 100rem; 
    margin: 0 auto;
}


.row::after { 
    content: "";
    display: table;
    clear: both
}

.row [class^="col-"] {
    float: left
}

.row [class^="col-"]:not(:last-child) {
    margin-right: 6rem
}


.row .col-1-of-2 {
    width: calc((100% - 6rem) / 2)
}

 .composition {
  position: relative;
 }

 .composition__photo {
    width: 55%;
    -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    -webkit-transition: all .2s;
    transition: all .2s;
    outline-offset: 2rem; /* pour l'effet bordure */
}


.composition__photo--p1 {
    left: 0;
    top: -2rem
}



.composition__photo--p2 {
    right: 0;
    top: 2rem
}


.composition__photo--p3 {
    left: 20%;
    top: 10rem;
}


.composition__photo:hover {
    outline: 1.5rem solid #C0B283;
    -webkit-transform: scale(1.05) translateY(-0.5rem);
    transform: scale(1.05) translateY(-0.5rem);
    -webkit-box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
    box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
    z-index: 30
}

.composition:hover .composition__photo:not(:hover) {
    -webkit-transform: scale(0.95);
    transform: scale(0.95)
}